<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true"> <!-- scan once a minute for logging config changes -->

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <!-- <pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern> -->
            <pattern>%d [%30.30t] %-30.30c{1} %-5p %m%n</pattern>
        </encoder>
    </appender>

    <appender name="OUT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d [%30.30t] %-30.30c{1} %-5p %m%n</pattern>
        </encoder>
        <file>scalaz.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>scalaz.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
    </appender>

    <logger name="com.lat" level="TRACE"/>

    <root level="DEBUG">
        <appender-ref ref="OUT"/>
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
